[submodule "sources/public_lib/lodgeit_solvers"]
	path = sources/public_lib/lodgeit_solvers
	url = ../FOL_solvers.git
[submodule "sources/depr"]
	path = sources/depr
	url = ../Depreciation.git
[submodule "sources/wait-for-it"]
	path = sources/wait-for-it
	url = https://github.com/vishnubob/wait-for-it.git
[submodule "sources/common/remoulade"]
	path = sources/common/libs/remoulade
	url = https://github.com/wiremind/remoulade
