# this file contains requirements of all sub-projects, as well as some developer conveniences.

wheel
click==8.*
untangle
deepdiff
defusedxml
xmlschema~=1.5

django~=3.2
django-modern-rpc
django-cors-headers

#celery[redis]~=5.1
git+https://github.com/Arelle/Arelle
xmldiff
agraph-python
simplejson
pycurl
requests
iso8601
rdflib
pyyed
git+https://github.com/koo5/memory_profiler

argh
PyYAML
watchdog

#pydevd-pycharm==213.5744.248

requests
#-e /app/sources/common/libs/remoulade/
-e ../common/libs/remoulade/[rabbitmq,redis]

