# this file contains requirements of all sub-projects, as well as some developer conveniences.

#sympy
wheel
ipython
click
untangle
deepdiff
defusedxml
xmlschema==1.5.3
django>2.2,<2.3
django-modern-rpc
celery[redis]==5.0.0
git+https://github.com/Arelle/Arelle
#-e https://github.com/Arelle/Arelle
xmldiff
agraph-python==101.0.7
requests
iso8601
rdflib
pyyed
django-cors-headers
