# this file contains requirements of all sub-projects, as well as some developer conveniences.

wheel
#ipython
click>=7,<8
untangle
deepdiff
defusedxml
xmlschema~=1.5.3
django~=3.2.5
django-modern-rpc
celery[redis]~=5.1
git+https://github.com/Arelle/Arelle
#-e https://github.com/Arelle/Arelle
xmldiff
agraph-python==101.0.7
requests
iso8601
rdflib
pyyed
django-cors-headers
