/*  XPCE configuration file for "persistent_frame"
    Saved Thu Jan 21 20:58:39 2021 by root
*/

configversion(1).
[persistent_frame].

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Option lines starting with a `%' indicate      %
% the value is equal to the application default. %
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

/* (X-)geometry for persistent frames */
history/geometry/prof_frame =   '802x671-1114-389'.
history/geometry/prolog_debugger = '1920x1062+0+0'.

/* Sub-window layout for persistent frames */
history/subwindow_layout/prolog_debugger = layout(*,[*,*,layout(277,[1497,*]),*,*]).
history/subwindow_layout/prof_frame = layout(*,[*,layout(*,[590,*]),*]).
