setting(cluster_variables,true).
setting(list_max_clauses,25).
setting(portray_text,true).
setting(portray_text_length,30).
setting(auto_raise,true).
setting(auto_close,true).
setting(console_actions,false).
setting(use_pce_emacs,true).
setting(term_depth,3).
setting(stack_depth,40).
setting(choice_depth,40).
setting(show_unbound,true).
