# this file contains requirements of all sub-projects, as well as some developer conveniences.

wheel
click==8.*
untangle
deepdiff
defusedxml
xmlschema~=1.5

django~=3.2
django-modern-rpc
django-cors-headers



git+https://github.com/Arelle/Arelle
xmldiff
agraph-python
simplejson
pycurl
requests
iso8601
rdflib
pyyed
pydantic
argh
PyYAML
watchdog

#pydevd-pycharm==213.5744.248


