watchdog
fastapi
python-multipart
agraph-python==101.0.7
uvicorn
pydantic
wheel
click==8.*
untangle
deepdiff
defusedxml
xmlschema~=1.5

#git+https://github.com/Arelle/Arelle@2.3.4
arelle-release==2.3.4

xmldiff
simplejson
pycurl
requests
iso8601
rdflib
pyyed
git+https://github.com/koo5/memory_profiler
argh
PyYAML
requests


sortedcontainers
pandas


jinja2
