<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LodgeIT</title>
    </head>
    <body>
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.file1.label_tag }} {{ form.file1.help_text }}</p>
            <p>{{ form.file1.errors }} {{ form.file1 }}</p>
            <p>{{ form.file2.label_tag }} {{ form.file2.help_text }}</p>
            <p>{{ form.file2.errors }} {{ form.file2 }}</p>
            <p>{{ form.file3.label_tag }} {{ form.file3.help_text }}</p>
            <p>{{ form.file3.errors }} {{ form.file3 }}</p>
            <p>{{ form.file4.label_tag }} {{ form.file4.help_text }}</p>
            <p>{{ form.file4.errors }} {{ form.file4 }}</p>
            <p>{{ form.file5.label_tag }} {{ form.file5.help_text }}</p>
            <p>{{ form.file5.errors }} {{ form.file5 }}</p>
            <p>{{ form.file6.label_tag }} {{ form.file6.help_text }}</p>
            <p>{{ form.file6.errors }} {{ form.file6 }}</p>
            <p>{{ form.file7.label_tag }} {{ form.file7.help_text }}</p>
            <p>{{ form.file7.errors }} {{ form.file7 }}</p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
