body {
    overflow-y: scroll;
    white-space:nowrap;
}
ul{
    border: 1px;
    border-color: "gray";
    border-style: none none none inset;
    border-radius: 2em;

}

.local{
    border-style: inset;
}


.thing {
    border-color: #FFFF00;
    box-shadow: 0 0 10px #000000;
}

