<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="jquery-3.4.0.js"></script>
	<script src="lodash.js"></script>
	<script type="text/javascript" src="vue-truncate-collapsed.js"></script>

	<link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="top">
	<!--  style="float:left; height:100%" -->
	<node :node="node"></node>
</div>

<script type="text/javascript">
	'use strict';

	function node(uri)
	{
		this.uri = uri;
		this.term={short: uri};
		this.sources=[{msg: "loading..."}];
	}

	Vue.component('node', {
		props: ['node'],
		template: `
			<div>
          <small>resource</small>
          <b><term :term="node.term"></term></b>
          <small>and its properties:</small>
          <span v-for="source in node.sources">
              <div v-if="source.msg!='loaded'">
                <small>({{ source.msg }})</small>
              </div>
          </span>
          
          <table v-if="node.props">
                    
                <thead>
                      <tr>
                        <th>graph</th>
                        <th>category</th>
                        <th>property</th>
                        <th>value</th>
                      </tr>
                    </thead>
  
                <tbody>             
                      <tr v-for="prop in node.props">
                          <td>
                              <term :term="prop.g"/>
                          </td>
                          <td :class="prop.category?.fake">
                              {{ prop.category?.fake }}
                          </td>
                          <td>
                              <term :term="prop.p"/>
                          </td>
                          <td>
                              <term :term="prop.o"/>
                          </td>
                      </tr>
              </tbody>
          </table>
          
<hr>
          <small v-if="node.tools">
              browse <b><term :term="node.term"></term></b> also in:
              <ul>
              
                  <li  v-for="tool in node.tools">
                      <a v-bind:href="tool.url">{{ tool.label }}</a>
                  </li>   
              </ul>
          </small>
          
			</div>
		`,
		methods: {}
	});

	Vue.component('term', {
		props: ['term'],
		template: `
        <span>
              <span v-if="term.reverse">
                  is
              </span>
              <template v-if="typeof term == 'string'">
                <span class="identifier">
                    {{ term }}
                </span>
              </template>
              <template  v-else-if="term === undefined"> 
                    
              </template>
              <template  v-else-if="term.literal_str">
                  <span>
                        {{ term.literal_str }}
                  </span>
              </template>
              <template  v-else-if="term.fake">
                  <span>
                        {{ term.fake }}
                  </span>
              </template>
              <template v-else-if="term.label">
                  <span class="identifier" >
                        <a :href="term.href">{{ term.label }}</a>
                  </span>
              </template>
              <template v-else-if="term.short">
                  <span class="identifier">
                        <a :href="term.href">{{ term.short }}</a>
                  </span>
              </template>
              <template v-else>
                  <span class="identifier">
                        {{ term.uri }}
                  </span>
              </template>
              <span v-if="term.reverse">
                  of
              </span>
          </span>
		`,
		methods: {}
	});

  

	function load_node_data_all(node)
	{
		Promise.all([
			load_node_data1(node.uri).then(
						results => {
							assign_node_data1(node, results);
							node.sources[0].msg = 'loaded';
						}
						).catch(
							(error) => {node.sources[0].msg = "error: " + error;})
		]);
	};

	function load_node_data1(uri) {
		return new Promise(
			function(resolve, reject)
			{
				var url = 'http://jj.internal:8877/api/rdftab?uri='+encodeURIComponent(uri);
				//var url = '/api/rdftab?uri='+encodeURIComponent(uri);
				$.ajax({
					dataType: "json",
					mimeType: "application/json",
					url: url,
					success: function(data){
					    resolve(data);
					},
					error: function() {
						reject("loading "+url+" failed");
					}
				});
			}
		);
	}

	function assign_node_data1(node, result)
	{
		console.log("assign_node_data1");
		console.log(result);
		//node.props.push(result.props);
		for (var key in result) {
      if (result.hasOwnProperty(key)) {
        node[key] = result[key];
      }
    }
	}
	
	const searchParams = new URLSearchParams(window.location.search);
	const uri = searchParams.get('uri')?.trim('<').trim('>') || 'https://rdf.lodgeit.net.au/v1/request#Result';

	var vm = new Vue({
		el: '#top',
		data: {
			node: new node(uri)
		},
		mounted: function ()
		{
			console.log( "mounted!" );
			load_node_data_all(this.node);
		}
	});

</script>
</body>
</html>

