<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="jquery-3.4.0.js"></script>
	<script src="lodash.js"></script>
	<script type="text/javascript" src="vue-truncate-collapsed.js"></script>

	<link id="stylesheet" rel="stylesheet" href="styles.css">
	
</head>
<body>

<div id="top">
	<!--  style="float:left; height:100%" -->
	<node :node="node"></node>
</div>

<script type="text/javascript">
	'use strict';

	function node(node_n3, focused_graph)
	{
		this.node_n3 = node_n3;
		this.term={short: node_n3};
		this.sources=[{msg: "loading..."}];
		this.focused_graph = focused_graph;
	}

	Vue.component('node', {
		props: ['node'],
		template: `
        <div>
          <small>resource</small>
          <b><term :node="node"  :term="node.term"></term></b>
          <small>and its properties:</small>
          <span v-for="source in node.sources">
              <div v-if="source.msg!='loaded'">
                <small>({{ source.msg }})</small>
              </div>
          </span>
          
          <table v-if="node.props">
                    
                <thead>
                      <tr>
                        <th>provenance / graph / id</th>
                        <th>category</th>
                        <th>property</th>
                        <th>value</th>
                      </tr>
                    </thead>
  
                <tbody>             
                      <tr v-for="prop in node.props">
                          <td>
                              <term_expandable :node="node"  :term="prop.g"/>
                          </td>
                          <td :class="prop.category?.fake">
                              {{ prop.category?.fake }}
                          </td>
                          <td :class="{ 'focusedGraph' : prop.g.uri == node.focused_graph }">
                              <term_expandable :node="node"  :term="prop.p"/>
                          </td>
                          <td :class="{ 'focusedGraph' : prop.g.uri == node.focused_graph }">                           
                              <term_expandable :node="node"  :term="prop.o"/>
                          </td>
                      </tr>
              </tbody>
          </table>
          
          <hr>

          <small v-if="node.tools">
              browse <b><term :node="node" :term="node.term"></term></b> also in:
              <ul>
              
                  <li  v-for="tool in node.tools">
                      <a v-bind:href="tool.url">{{ tool.label }}</a>
                  </li>   

              </ul>
          </small>
          
        </div>
		`,
		methods: {}
	});


  
 Vue.component('term_expandable', {
     props: ['term', 'node'],
     template: `
<span>
    <button v-if="term.literal_str || term.uri" @click="toggle_expanded" >{{ term.expanded || "expand" }}</button>  
    <template v-if="term.expanded">
            <node :node="term.embedded_node"></node>
    </template>
    <template v-else>
            <term :term="term" :node="node"/>
    </template>
</span>          
    `,
     methods: {
         toggle_expanded: function () {
             this.term.expanded = !this.term.expanded;
             console.log("toggle_expanded:" + this.term.expanded);
             if (this.term.expanded && !this.term.embedded_node) {
                 this.term.embedded_node = new node(this.term.n3, this.node.focused_graph);
                 load_node_data_all(this.term.embedded_node);
             }
         }
     }
 });



Vue.component('term', {
		props: ['term', 'node'],
		template: `
        <span>
              <span v-if="term?.reverse">
                  is
              </span>
              <template  v-if="term === undefined">

              </template>
              <template  v-else-if="term.fake">
                  <span>
                        {{ term.fake }}
                  </span>
              </template>
              <template v-else-if="typeof term == 'string'">
                <span class="identifier">
                    {{ term }}
                </span>
              </template>
              <template  v-else-if="term.literal_str">
                  <span>
                        <a :href="term.href + '&focused-graph=' + node.focused_graph">{{ term.literal_str }}</a>
                  </span>
              </template>
              <template v-else-if="term.label">
                  <span class="identifier" >
                        <a :href="term.href + '&focused-graph=' + node.focused_graph">{{ term.label.l }}</a>
                  </span>
              </template>
              <template v-else-if="term.short">
                  <span class="identifier">
                        <a :href="term.href + '&focused-graph=' + node.focused_graph">{{ term.short }}</a>
                  </span>
              </template>
              <template v-else-if="term.uri">
                  <span class="identifier">
                        <a :href="term.href + '&focused-graph=' + node.focused_graph">{{ term.uri }}</a>
                  </span>
              </template>
              <template v-else>
                        ???
              </template>
              <span v-if="term?.reverse">
                  of
              </span>
          </span>
		`,
		methods: {}
	});

  

	function load_node_data_all(node)
	{
		Promise.all([
			load_node_data1(node.node_n3).then(
						results => {
							assign_node_data1(node, results);
							node.sources[0].msg = 'loaded';
						}
						).catch(
							(error) => {node.sources[0].msg = "error: " + error;})
		]);
	};

	function load_node_data1(node_n3) {
		return new Promise(
			function(resolve, reject)
			{
				var url = '/api/rdftab?node='+encodeURIComponent(node_n3);
				$.ajax({
					dataType: "json",
					mimeType: "application/json",
					url: url,
					success: function(data){
					    resolve(data);
					},
					error: function() {
						reject("loading "+url+" failed");
					}
				});
			}
		);
	}

	function assign_node_data1(node, result)
	{
		console.log("assign_node_data1");
		console.log(result);
		//node.props.push(result.props);
		for (var key in result) {
		  if (result.hasOwnProperty(key)) {
		    node[key] = result[key];
		  }
		}
	}
	
	const searchParams = new URLSearchParams(window.location.search);
	const node_n3 = searchParams.get('node') || '<https://rdf.lodgeit.net.au/v1/request#Result>';
	const focused_graph = searchParams.get('focused-graph');

	var vm = new Vue({
		el: '#top',
		data: {
			node: new node(node_n3, focused_graph)
		},
		mounted: function ()
		{
			console.log( "mounted!" );
			load_node_data_all(this.node);
		}
	});
  
  
  document.addEventListener('DOMContentLoaded', (event) => {
    const link = document.getElementById('stylesheet');
    link.href = link.href + '?v=' + new Date().getTime();
  });


</script>
</body>
</html>

