body {
    overflow-y: scroll;
    white-space:nowrap;
    background-color: #B0D0FF;
}
/*ul{
    border: 1px;
    border-color: "gray";
    border-style: none none none inset;
}
*/
.identificational {
    /*background-color: #c8ff00;*/
}
.definitional {
    /*background-color: #ffb177;*/
}


.general  {
    /*font-weight: bold;*/ 
    background-color: #fffc10; !important;
   border-radius: 2em;
}
.technical {
    /*background-color: #760091;*/
}

th {
    background-color: #999999;
}

td.focusedGraph {
    background-color: #6aa2ff;
    border: 3px;
   border-radius: 2em;
/*   font-weight: bold;*/
}

.focusedGraphAndGeneral {
    background-color: #9bff54;
    border: 3px;
   border-radius: 2em;
}

tr.source td {/*
   border: 1px;
   border-radius: 2em;
   border-color: "gray";
   bgcolor: "red";*/
   background-color: #CCCFC0;
}

td.source {
   background-color: #CCCFC0;
}

table {
/*  border-collapse:separate;
  /*border-spacing:10px 10px;*/
  background-color: #B0D0FF;
    border: 1px;
}

td {
    padding: 0 10px;
}

label{
    display: inline-block;
}

input {
  vertical-align:top;
  position: relative;
}

.identifier {
}

button {
   font-family: monospace;
}

