--extra-index-url=https://packagecloud.io/rabbitmq/rabbitmq-server/pypi/simple
ply
celery
git+https://github.com/jimmccusker/RDFAlchemy.git
untangle
sympy
-e https://github.com/Arelle/Arelle
xmlschema==1.0.14
django

